.price {
    background-color: yellow;
}

.price-card {
    background-color: rgb(217, 247, 243);
    width: 450px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 0;
}

.price-img {
    width: 100%;
    text-transform: none;
    transition: transform 800ms ease;
}
.price-img:hover {
    transform: scale(1.05);
}
.price-btn > a {
    color: rgb(255, 255, 0);
    text-decoration: none;
}
