// @media (min-width: 380px) {
.quantity {
    display: flex;
    width: 200px;
    justify-content: center;
    margin-bottom: 20px;
}
.quantity-btn {
    background-color: rgb(217, 247, 243);
    color: blue;
    width: 36px;
    font-weight: 900;
}
.quantity-input {
    width: 100px;
    border: solid 1px blue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    color: blue;
}
.product-menu {
    background-color: rgb(255, 255, 0);
}
.product-text {
    justify-content: center;
    font-size: 20px;
    color: rgb(255, 255, 0);
    background-color: rgb(0, 102, 255);
    // height: 100px;
    display: flex;
    align-items: center;
    font-family: 'Noto Serif Display', serif;
    letter-spacing: 3px;
    word-spacing: 10px;
}

@media (min-width: 1024px) {
    .product-text {
        font-size: 35px;
        letter-spacing: 5px;
        word-spacing: 25px;
    }
}
@media (min-width: 1200px) {
    .product-text {
        font-size: 50px;
        letter-spacing: 8px;
        word-spacing: 30px;
    }
}
