// @media (min-width: 380px) {
.top-header {
    background-color: rgb(0, 102, 255) !important;
}
.top-header a {
    margin-right: 150px;
}
.top-header-btn {
    // width: 100px;
    margin-left: auto;
    margin-right: 10px;
}
.header-btn {
    margin-left: auto;
    margin-right: 10px;
}
.header {
    background-color: rgb(255, 255, 0) !important;
    font-family: 'Preahvihear', sans-serif;
}
.header-title {
    width: 100px;
    height: 100px;
    align-items: center;
    display: flex;
}

.top-header-contacts {
    color: rgb(255, 255, 0);
}
.top-header-contacts-icons {
    margin-right: 10px;
}

.menu-new {
    font-family: 'Preahvihear', sans-serif;
    margin-left: -70px;
}
.menu-new a {
    text-decoration: none;
    color: rgb(0, 102, 255);
}
.header-menu {
    margin-left: 100px;
}
.header-menu > a {
    margin-left: 100px;
    margin-right: 100px;
    color: rgb(0, 102, 255);
}

.header-menu div a {
    color: rgb(0, 102, 255);
}
.menu-new a:hover {
    color: black;
}

.header-category {
    margin-left: 100px;
}
.dropdown-menu {
    background: rgb(0, 102, 255);
    width: 230px;
}
.header-category div a {
    color: rgb(255, 255, 0);
}

.header-category a:hover {
    color: rgb(0, 102, 255);
    background-color: rgb(255, 255, 0);
}
.header-category div a::after {
    color: rgb(0, 102, 255);
}
.header-basket {
    display: none;
}

@media (min-width: 992px) {
    .header-category {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1024px) {
    .header-category {
        margin-left: 0;
        margin-right: 0;
    }
}
@media (min-width: 1200px) {
    .header-basket {
        display: block;
        font-size: 30px;
        color: rgb(0, 102, 255);
        cursor: pointer;
    }
}
